<style>
        h1{ 
            color:lightskyblue);
            font-family:'Courier New', Courier, monospace;
            font-weight: 700;
            text-align: center;
            letter-spacing: 5px;
        }
        p{ 
            color:grey;
            text-align: center;
            width: 30%
            }
        #back {
            background-color:indianred;
            width: 30%;
             }
        a{
            font-family: 'Times New Roman', Times, serif;
            font-size : 20px;
            text-align: center;
            width: 30%
        }
    </style>

<h1 id=back>about</h1>

<p>멋쟁이 사자처럼 7기 고유민이 만든 word count 입니다.</p>
<p>단어를 세드립니당 ! </p>

<a href="{% url 'home' %}">HOME으로 돌아가기</a>